[core]
	autocrlf = input
	editor = vim
	pager = less -F -X
	excludesfile = /Users/Sunxperous/.gitignore_global
[user]
	name = Sun Wang Jun
	email = sunxperous@gmail.com
[push]
	default = simple
[help]
	autocorrect = -1
